ACTION=="remove", SUBSYSTEM=="block", \
  ENV{DEVTYPE}=="partition", \
  ENV{ID_PART_ENTRY_TYPE}=="4fbd7e29-9d25-41b8-afd0-062c0ceff05d", \
  RUN+="/bin/sh -c '/usr/bin/python /opt/cephdeploy/resources/disk.py $name 2>/var/log/ceph/ceph-remove-udev.log 1>&2'"
