[Unit]
Description=Node Exporter
Wants=network-online.target
After=network-online.target

[Service]
User=root
ExecStart=/usr/bin/ceph_exporter

[Install]
WantedBy=default.target
